/* Estilos CSS */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0f0f0;
    text-align: center;
    position: sticky;
    top: 0;
    color: #333;
    z-index: 1000; /* Asegura que el encabezado esté sobre el contenido */
}

h1{
    font-size: 1.5em;
    font-weight: bolder;
}
.toby{
    width: 5em;
    margin-left: 1em;
}
.kiko{
    width: 5em;
    margin-left: 1em;
}

h5 {
    font-size: 2em; /* Tamaño de fuente */
    -webkit-text-stroke: 1.5px black; /* Borde negro alrededor de cada letra */
    color: white; /* Color del texto */
    
}

.carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.slide {
    margin: 10px;
    text-align: center;
}


.slide img {
    width: 300px;
    height: 700px;
    object-fit: cover;
}

h2{
    font-size: 2em;
}



.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 1s;
}

.button:hover {
    background-color: #0056b3;
    color: #fff;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

@media (max-width: 768px) {

    .slide img {
        width: 100%;
        height: 100%;
    }
    h5 {
        font-weight: bolder;
        font-size: 1.19em;
        -webkit-text-stroke: 1px black;
    }

    h2{
        font-size: 1.2em;
    }

}